html, body {
	height:100%;
}

body {
	background-image:url("../images/staura.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
}

.fa {
	padding:10px;
	font-size:30px;
	width:50px;
	text-align:center;
	text-decoration:none;
	border-radius:50%;
}

.fa-facebook {
	background:#3B5998;
	color:white;
}

.fa-instagram {
	background:#d6249f;
	background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, 
	#fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.iconBar {
	position:fixed;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}

.iconBar a {
	display:block;
	text-align:center;
	padding:16px;
	transition:all 0.4s ease;
	color:white;
	font-size:20px;
}

.iconBar a:hover {
	color:#FFD484;
}

.topLogo {
	max-width:100%;
	height:auto;
	max-height:100%;
}

.contentWrap {
	width:80%;
	margin:auto;
	min-height:100%;
	overflow:hidden;
	padding: 10px;
}

.connectBuffer {
	padding-top:7px;
	padding-bottom:7px;
}

.backAlign {
	text-align:center;
	background-color:#708573;
}

.connectHeaders {
	text-align:center;
	padding-bottom:14px;
	padding-top:10px;
}

.footerContainer {
	position: relative;
	min-height: 100vh;
}

.mainFooter {
	text-align:center;
	background-color:#FFD484;
	color: #7c6992;
	font-size: 22px;
	text-decoration: none;
	flex-shrink: 0;
	padding-bottom: 14px;
	padding-top: 10px;
}

.pic {
	width:100%;
	height:auto;
}

.img-area {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.container {
	position: relative;
	width: 25%;
	padding: 0px;
	margin: 10px;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #50C878;
}

.container:hover .overlay {
	opacity:.6;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#fpHead {
	padding-top:10px;
}

#auraHead {
	padding-top:10px;
}

#aboutHead {
	padding-top:10px;
}

#auraMain {
	text-align:left;
	overflow:auto;
	font-size:18px;
	margin-left:15px;
	margin-right:15px;
	padding:20px;
	padding-bottom:50px;
}

#aboutMain {
	text-align:left;
	overflow:auto;
	font-size:18px;
	margin-left:15px;
	margin-right:15px;
	padding:20px;
	padding-bottom:50px;
}

#main {
	text-align:left;
	overflow:auto;
	font-size: 18px;
	margin-left:15px;
	margin-right:15px;
	padding:20px;
	padding-bottom:50px;
}

#mainHeader {
	text-align:center;
}

#submitButt {
	margin-top:10px;
	margin-bottom:25px;
}

#navbar {
	background-color:#FFD484;
}

#navbar ul{
	text-align:center;
	list-style:none;
}

#navbar li{
	display:inline;
}

#navbar a {
	color:#7c6992;
	text-decoration:none;
	font-size:16px;
	transition:all 0.4s ease;
}

#navbar a:hover {
	color:#50C878;
}

#showcase {
	text-align:center;
}




